<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Kitchen_Sync.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Kitchen_SyncCompanion Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A91BDFF2A50F64500C2BBCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AA721EB2A5202B90014BF46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AA721FA2A5202BA0014BF46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AA722042A5202BA0014BF46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
